@import "font-awesome";
@import "bootstrap";

:root {
  --maincolor: #C3C3D6;
  --namecolor: -webkit-linear-gradient(#58ffb4,#289061);
  --cardbackground: #1A2C32;
  --bubblewriting: #000700;
  --bubblebackground: #52DF74;
  --extras: #FC7138;
  --underline: #6c6d67;
  --radius: 18px;
  --primarywritingcolor: #eeeeee;
  --headerswritingcolor: rgba(255, 255, 255, 0.813); 
  --secondarywritingcolor: #bbbbbb;
  --backgroundcolor: #0B0A1A;
  --glowBackgroundColor: rgba(252, 113, 56, 0.05);
  --glowBoxShadow: 0 0 150px 150px rgba(252, 113, 56, 0.3);
  --cardshadow: 0px 0px 0px 0px;
  --headerHome: #c3c2d6ad;
  --cursor: pointer;
  --header: #eeeeee;
  --cardHeader: white;
}
// :root {
//   --maincolor: #CDFFAF;
//   --cardbackground: #003333;
//   --bubblewriting: #C3F5A8;
//   --bubblebackground: #173A31;
//   --extras: #FC7138;
//   --underline: #6c6d67;
//   --radius: 18px;
//   --primarywritingcolor: white;
//   --headerswritingcolor: white; 
//   --secondarywritingcolor: #bbbbbb;
//   --backgroundcolor: #002020;
//   --glowBackgroundColor: rgba(252, 113, 56, 0.05);
//   --glowBoxShadow: 0 0 150px 150px rgba(252, 113, 56, 0.3);
//   --cardshadow: 0px 0px 0px 0px;
//   --headerHome: #678F69;
//   --cursor: pointer;
//   --header: #CDFFAF;
// }

body {
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.625 !important;
    cursor: auto;
}

p {
  color: var(--secondarywritingcolor) !important;
  font-size: 0.95rem !important;
}

h1 {
  font-size: 55px !important;
}


h2 {
  font-size: 30px !important;
  color: var(--primarywritingcolor) !important;
}

h3 {
  font-size: 20px !important;
  color: var(--headerswritingcolor) !important;
}

h4 {
  font-size: 17px !important;
  color: var(--primarywritingcolor) !important;
}

h5 {
  color: var(--primarywritingcolor) !important;
}

#about {
  margin-bottom: 80px;
}


.container {
  display: flex;
  justify-content: center;
}

@media (max-height: 720px) {
  .left-sidebar {
    padding-top: 50px;
  }

  .right-content {
    padding-top: 50px;
  }
  .all-skills {
    padding-bottom: 40px
  }
}
@media (min-height: 720px) {
  .left-sidebar {
    padding-top: 90px;
  }

  .right-content {
    padding-top: 95px;
  }
  .all-skills {
    padding-bottom: 40px
  }
}
@media (min-height: 765px) {
  .all-skills {
    padding-bottom: 80px
  }
}


@media (min-width: 1200px) {
  
  .container {
    max-width: 1450px !important;
    gap: 100px;
  }
  .right-content {
    width: 100%;
    overflow-y: hidden;
    height: 100vh;
    margin-right: 60px;
    z-index: 1;
  }
  .left-sidebar {
    width: 100%;
    margin-left: 60px;
    z-index: 1;
  }
  .description {
    margin-bottom: 40px;
    max-width: 550px;
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .social-media {
    margin-top: 40px;
  }

  .left-sidebar,
  .right-content {
    width: 100%;
  }
  .description {
    margin-bottom: 80px;
  }

}

.active {
  color: var(--headerswritingcolor) !important;
  font-size: 25px;
}

.active span {
  color:var(--maincolor);
}


.cards-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width:250px
}

.chonky-underline {
  z-index: 0;
  position: relative;
}

.chonky-underline::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 104%;
  left: -1%;
  background: var(--underline);
}

#experience {
  margin-bottom: 30px;
}

.experience-card {
  margin-bottom: 3rem;
  padding: 24px;
  padding-bottom: 14px;
  border-radius: var(--radius);
  box-shadow: var(--cardshadow);
  background-color: var(--cardbackground);
}

.experience-time {
  white-space: nowrap;
}

.icon {
  color: var(--extras) !important;
}

.link {
  color: inherit;
  text-decoration: none;
  
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

.menu {
  text-decoration: none;
  overscroll-behavior: none;
}

.menu-item {
  margin-top: 20px;
  margin-bottom: 20px;
  // text-decoration: overline;
}

.menu-item-style {
  padding: 30px;
  background-color: var(--bubblebackground);
  border-radius: 34px;
}

.name span {
  background: -webkit-linear-gradient(white,#d1d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  // background-color: var(--backgroundcolor) !important;
  background-color: #011518 !important;
  overscroll-behavior-y: none;
  transition: background-color 0.4s linear;
}


.project-card {
  margin-bottom: 3rem;
  padding: 24px;
  padding-bottom: 14px;
  border-radius: var(--radius);
  box-shadow: var(--cardshadow);
  background-color: var(--cardbackground);
}

// .project-card:hover {
//   background-color: var(--cardbackground);
//   border-radius: var(--radius);
// }

.project-images {
  max-width: 100%;
  min-width: 5%;
  height: auto;
}

.project-image {
  width: 106px;
}

#projects {
  margin-bottom: 80px;
}


.skills {
  margin-right: 10px;
  margin-top: 40px;
  display: none;
}

.slide-link {
  color: var(--bubblebackground);
  text-decoration: none;
  position: relative;
}

.slide-link::before, .slide-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  border-top-width: 2px;
  border-top-color: var(--extras);
}
.slide-link::before {
  width: 100%;
}
.slide-link::after {
  border-top-style: solid;
  width: 0;
  transition: width .2s ease;
}

.slide-link:hover::after {
  width: 100%;
}



.socials {
  margin-right: 30px;
  color: var(--primarywritingcolor);
  opacity: 35%;
}

.socials:hover {
  opacity: 55%;
  color: var(--primarywritingcolor);
}

.sticky-button {
  position: fixed;
  bottom: 50px;
  right: 60px;
  color: var(--maincolor);
}

.tech-skills {
  border-radius: var(--radius);
  background-color: var(--bubblebackground);
  color: var(--bubblewriting);
  font-size: small;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.technology {
  border-radius: var(--radius);
  background-color: var(--bubblebackground);
  color: var(--bubblewriting);
  font-size: small;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.years {
  color: var(--primarywritingcolor) !important;
}



@media (max-width: 900px) {

  .sticky-button {
    display: none !important;
  }
}

.svg_preloader{
  width: 240px;
  height: 240px;
}
.svg-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.footer-note {
  font-style: italic !important;
}


.header {
  color: var(--header) !important;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 14px !important;
}

.line-break {
  color: var(--header);
  margin-bottom: 35px;
  margin-top: 8px;
  height: 0.1px !important;
  width: 97%;
}

.header-home {
  color: var(--headerHome);
}



.custom-cursor{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	margin-top: calc(-1 * 40px / 2);
	margin-left: calc(-1 * 40px / 2);
	background: white;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 2;
}

.circle-scale{
  // transition-duration: 0.1s;
	width: calc(25px * 1.5);
	height: calc(25px * 1.5);
}

.menu-about, .menu-projects, .menu-experience, .experience-card, .socials, .social-media, .sticky-button, .link {
  cursor: var(--cursor);
}

.cursor-shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(252, 113, 56, 0.05);
  box-shadow: 0 0 150px 150px rgba(38, 53, 53, 0.45);
  // box-shadow: 0 0 150px 150px rgba(252, 113, 56, 0.3);
  height: 1px;
  width: 1px;
  border-radius: 50%;
  z-index: 0.1;
  transition: box-shadow 1.3s linear;
}

.card-content-header {
  display: flex;
  justify-content: space-between;
}
.card-content-header p{
  color: var(--cardHeader) !important;
}

.card-content-links {
  display: flex;
  gap: 1rem;
}

.icon-links {
  color: grey;
}
.icon-links:hover {
  color: white;
}